@font-face {
    font-family: "me123";
    src: url("me123.ttf");
}

body {
    font-family: "me123";
}

h1 {
    text-align: center;
    color: darkblue;
    margin-top: 50px;
    margin-bottom: 0px;
}

h2 {
    color: darkblue;
}

table {
    margin-left: 50px;
    margin-bottom: 50px;    
}

table, tr {
    width: 100%;
}

th, td {
    text-align: left;
    width: 50%;
}

input[type="button"] {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-width: 0;
    padding: 10px;
    color: white;
    background-color: darkblue;
    border-radius: 10px;
}

input[type="text"] {
    margin-left: 4px;
    margin-right: 4px;
}

input {
    font-family: "me123";
}

#input, #output {
    width: 50%;
    display: block;
    margin-top: 50px;
}

#input {
    float: left;
}

#output {
    float: right;
}

.dead {
    color: green;
}

.fail {
    color: red;
}

.crit1 {
    color: darkmagenta;
}

.crit2 {
    color: darkorchid;
}

.crit3 {
    color: fuchsia;
}

.hit {
    color: black;
}

.miss {
    color: darkgrey;
}