@font-face {
    font-family: "me123";
    src: url("me123.ttf");
}

body {
    font-family: "me123";
    background-color: #17639A;
    color: white;
    margin: 0px;
}

h1 {
    text-align: center;
    color: white;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #101224;
}

h1, h2 {
    font-weight: normal;
}

table {
    margin-left: 50px;
    margin-bottom: 50px;    
}

table, tr {
    width: 100%;
}

th, td {
    text-align: left;
    width: 50%;
}

input[type="button"] {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-width: 0;
    padding: 10px;
    color: white;
    background-color: #DF7D29;
    border-radius: 10px;
}

input[type="text"] {
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 8px;
    padding: 4px;
}

input {
    font-family: "me123";
}

#input, #output {
    width: calc(50% - 10px);
    display: block;
}

#input {
    float: left;
    margin-left: 10px;
}

#output {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.dead {
    color: white;
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.fail {
    color: red;
}

.crit1 {
    color: #DF7D29;
}

.crit2 {
    color: #DF7D29;
}

.crit3 {
    color: #DF7D29;
}

.hit {
    color: white;
}

.miss {
    color: darkgrey;
}